<!DOCTYPE HTML>
<html>
    <head>
        <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.core.js'></script> -->
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.js"></script>
        <script src="index.js"></script>
        <link rel="stylesheet" type="text/css" href="./home.css"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    </head>
    <body>
        <div class='lander'>
            <div class='landerContent'>
                <div class='landerName'>
                    NAME
                </div>
                <div class='landerTitle'>
                    ASK A QUESTION ABOUT THE 2020 ELECTION
                </div>
                <div class='inputBar'>
                        <input  id='inputBar' type="text">
                        <a id='goButtonLink' href='#mainPage'>
                            <div id='goButton' class='goButton'>
                                <i class="material-icons">
                                    search
                                </i>
                            </div>
                        </a>
                </div> 
                <div class='sampleQuestions'>
                    <div class='suggestedQuestion'>Question 1?</div>
                    <div class='suggestedQuestion'>Question 2?</div>
                    <div class='suggestedQuestion'>Question 3?</div>
                    <div class='suggestedQuestion'>Question 4?</div>
                </div>

            </div>
             
        </div>
        <div id='mainPage' class='mainPage'>
            

            <form class='mainPageSearch' onsubmit="askQuestion();return false;">
                    <input placeholder='Ask another question' class='mainPageSearchBar' type="text">
                    <input type="submit">
                    
            </form>

            <div id='questionSet'></div>

            <!--
                <div style='color: lightgray' id='goButton' class='goButton'>
                            <i class="material-icons">
                                search
                            </i>
                        </div>
            -->
            

             

                 
        </div>

        <script id="comment-template" type="text/x-lodash-template">
            <div class='qaParent'>
                <div class='qaContentBox'>
                    <div class='prompt'>we matched your question to...</div>
                    <div class='text' ><%= matchedQuestion %></div>
                    <div class='prompt'>here's a possible answer...</div>
                    <div class='text'>
                        <%= matchedAnswer %>
                    </div>
                    <div class='sourcePanel'>
                        <div class='sourceCard'>
                            <img class='sourceImage' src='https://cdn.vox-cdn.com/thumbor/cXFmLvR0cLwgspir3axOU_AK2d0=/0x0:5260x3507/1360x765/filters:focal(2474x62:3314x902):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/65652070/1184672034.jpg.0.jpg'>
                            <div class='sourceText'>
                                  <div class='sourceTitle'><%= sourceTitle %></div>
                                  <div class='sourceStub'><%= sourceName %></div>
                            </div>
        
                        </div>
                    </div>
                  </div>
    
              </div>
        </script>

    </body>

</html>